* .grave-booking-landing {
  padding-top: 25px;
  background-color: #343a40;
  display: flex;
  flex-direction: row; /* Set flex direction to row */
  justify-content: flex-start; /* Align content to the left */
  min-height: 53em;
  width: 100%;
}

.wrapper {
  background-color: #898989;
  width: 100%; /* Adjust width to leave space for the SVG */
  padding: 25px;
  margin: 25px auto 0;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.svg-container {
  width: 50%; /* Set width for the SVG container */
  padding: 25px;
}

.svg-container svg {
  width: 100%; /* Ensure SVG fills container */
  height: auto; /* Maintain aspect ratio */
}


.input-box {
  width: 100%;
  margin-right: 12px;
  position: relative;
}

.input-box:last-child {
  margin-right: 0;
}

.name {
  padding: 14px 10px 14px 50px;
  width: 100%;
  background-color: #fcfcfc;
  border: 1px solid #00000033;
  outline: none;
  letter-spacing: 1px;
  transition: 0.3s;
  border-radius: 3px;
  color: #333;
}

.name:focus,
.dob:focus {
  -webkit-box-shadow: 0 0 2px 1px #7ed32180;
  -moz-box-shadow: 0 0 2px 1px #7ed32180;
  box-shadow: 0 0 2px 1px #7ed32180;
  border: 1px solid #343a40;
}

.input-box .icon {
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  color: #333;
  background-color: #f1f1f1;
  border-radius: 2px 0 0 2px;
  transition: 0.3s;
  font-size: 20px;
  pointer-events: none;
  border: 1px solid #00000033;
  border-right: none;
}

.name:focus + .icon {
  background-color: #343a40;
  color: #fff;
  border-right: 1px solid #343a40;
  border: none;
  transition: 1s;
}



.input-box label {
  width: 50%;
  padding: 13px;
  background-color: #fcfcfc;
  display: inline-block;
  float: left;
  text-align: center;
  border: 1px solid #c0bfbf;
}

.input-box label:first-of-type {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: none;
}

.input-box label:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.input-box select {
  display: inline-block;
  width: 50%;
  padding: 12px;
  background-color: #fcfcfc;
  float: left;
  text-align: center;
  font-size: 16px;
  outline: none;
  border: 1px solid #c0bfbf;
  cursor: pointer;
  transition: all 0.2s ease;
}

.input-box select:focus {
  background-color: #343a40;
  color: #fff;
  text-align: center;
}

#checkoutBtn {
  width: 100%;
  background: transparent;
  border: none;
  background: #343a40;
  color: #fff;
  padding: 15px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.35s ease;
}

#checkoutBtn:hover {
  cursor: pointer;
  background: #343a40;
}
.svg-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-map-container {
  margin-top: 20px;
  margin-bottom: 20px;
}

.svg-map {
  width: 85%;
  height: auto;
  max-width: 85%;
  display: block;
  margin: 0 auto;
}

.no-svg-message {
  color: red;
}
.card-body-custom {
  max-width: 80%;
}
.grave-box {
  display: block; /* Ensure it's displayed on its own line */
}
.grave-list {
  margin-top: 20px;
}

.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.checkbox-item {
  flex: 1; /* Each item takes up equal space */
  margin-right: 10px; /* Adjust spacing between items */
}
.checkbox-item label {
  font-size: 16px; /* Adjust font size */
}

.checkbox-item input[type="checkbox"] {
  transform: scale(1.5); /* Increase checkbox size */
  margin-right: 5px; /* Adjust spacing between checkbox and label */
}
/* CSS for row buttons */
.row-button {
  flex: 0 0 calc(33.333% - 10px); /* Each button takes up 33.333% of the container width minus margin */
  margin: 5px; /* Margin between buttons */
  flex-shrink: 0; /* Prevent buttons from shrinking */
}

/* Style for the button */
.row-button button {
  width: 100%;
  padding: 12px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.row-button button:hover {
  background-color: #0056b3;
}
/* CSS for row buttons container */
.row-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Adjust alignment as needed */
  margin-bottom: 10px; /* Add margin between rows */
}
.highlighted-button {
  background-color: #ffc107; /* Change to the desired highlight color */
  color: #000; 
}

