* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}


.service-provider-page-name {
  display: flex;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
  color: rgb(212, 241, 255);
  font-size: 4em;
}
.company-details {
  margin-bottom: 0.5em;
  display: flex;
  justify-content: center;
  background-size: cover; /* This ensures the image covers the entire div */
  background-position: center;
  font-size: 2em;
  color: #e2e2e2;
}

.header-text,
.subheader-text {
  margin-bottom: 1em;
}

.subheader-text {
  display: flex;
  justify-content: center;
  text-align: center;
}
.service-provider-page-root {
  background-image: url("../img/main1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1100px;
}



.funeral-services {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #343a40;
  min-height: 100em;

}

.reviews-section{
  background-color: #333;
  max-height: 900px;


}
.reviews-text{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 2em;
}
.text-color-custom {
  color: white;
}
/* Change text color when button is hovered or focused */
.text-color-custom:hover,
.text-color-custom:focus {
    color: white;
}
.company-motto-text{
  color: white;
}
.motto-description{
  color: black;

}
.img-container{
  width:6em;
  height:6em;
  background-color: rgb(0, 132, 255);
}
.custom-card{
  background-color: #343a40;
}
.custom-card-1{
  background-color: #343a40;

}
.form-container{
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  color:#343a40;
  background: #000;
  
}
.input-row{
  margin-bottom: 10px;

}
.input-row label{
  display: block;
  margin-bottom: 3px;
  
}
.input-row input,
.input-row textarea{
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  outline: 0;
  margin-bottom: 3px;
  font-size: 18px;
  

  
}
.input-row textarea{
  height: 100px;
  
}
.input-row input[type="submit"]{
  width: 100px;
  display: block;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background:#002f3a;
  
}
.success{
  background: #9fd2a1;
  padding: 5px 10px;
  text-align: center;
  color: #326b07;
  border-radius: 3px;
  font-synthesis: 14px;
  margin-top: 10px
}